@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@keyframes slide-up-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(-200px);
	}
}

@keyframes slide-up-in {
	0% {
		opacity: 0;
		transform: translateY(200px);
	}

	100% {
		opacity: 1;
	}
}

@keyframes slide-down-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(200px);
	}
}

@keyframes slide-down-in {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}

	100% {
		opacity: 1;
	}
}

@keyframes blink {
	0% { opacty: 1; }
	40% { opacty: 1; }
	50% { opacity: 0; }
	60% { opacty: 1; }
	100% { opacity: 1; }
}

.blink { animation: 0.5s blink; }
.second-half { animation-delay: -0.25s; }

.show { display: flex!important; }
.hidden { opacity: 0; }

.show-down {
	display: flex!important;
	animation: 0.5s slide-up-in;
}

.hidden-down {
	animation: 0.5s slide-up-out forwards;
}

.show-up {
	display: flex!important;
	animation: 0.5s slide-down-in;
}

.hidden-up {
	animation: 0.5s slide-down-out forwards;
}


html {
	overflow: hidden;
}

h1 {
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	font-size: 4rem;
	margin: 0;
}

h1 {
/*  font-weight: normal;*/
/*  margin-bottom: 0.5rem;*/
}

h2 {
	margin-bottom: 8px;
}

p {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	margin: 0 0 0 5px;
}

.arrow:hover {
	cursor: pointer;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;

  position: absolute;
  bottom: 50px;
  align-self: center;

  color: white;
}

.arrow.up { top: 50px; }

.arrow-container {
	position: absolute;
	width: 50%;
	right: 0;
	display: flex;
	justify-content: center;

	top: 0;
}

.arrow-container ~ .arrow-container {
	background:red;
	top: auto;
	bottom: 0;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
/*  -webkit-transform: rotate(45deg); */
}

.down:before {
	content: attr(data-text);
	position: absolute;
	transform: rotate(-45deg);
	bottom: 17.5px;
	right: -27.5px;
	width: 100px;
/*	overflow: visible;*/
}

.up:before {
	content: attr(data-text);
	position: absolute;
	transform: rotate(135deg);
	bottom: -2.5px;
	right: -37.5px;
	width: 150px;
/*	overflow: visible;*/
}

body {
	background: url('../assets/background.png');
/*	background-size: cover;*/
}

span.cdb {
	margin-bottom: 10px;
	font-size: 0.65rem;
}

span.cdb a {
	text-decoration: none;
	color: #0000E4;
}

input.number-input {
	padding: 4px;
	box-sizing: border-box;
/*	width: 100%;*/
}

button.analyze {
	margin-top: -10px;
	height: 2rem;
}

button.load {
	position: absolute;
	bottom: 1rem;
	height: 2rem;
	width: 13ch;
}

input[type=file] {
	display: none;
}

/*button.file-upload {

}*/

.saved {
	width: 13ch;
	height: calc(100% - 2rem - 8px);
}

div.upload-container {
/*	outline: 5px solid red;*/
	width: 50%;
	left: 50%;
	display: flex;
	justify-content: center;
	position: absolute;
}

div.upload {
	background: rgba(255, 255, 255, 0.2);
	padding: 1rem;
	border-radius: 20px;
}

div.teaser, div.upload, div.about {
	margin-top: -80px;
	color: white;
	display: flex;
	flex-direction: column;
}

div.about {
	height: calc(100% - 140px);
	margin-top: 140px;
	width: calc(50% - 55px - 1rem);
}


div.left {
	position: relative;
}

div.right {
	display: flex;
	align-items: center;
	padding-left: 100px;

	background: url('../assets/container-background.svg');
	background-size: cover;
	margin-left: -50px;
	padding-left: 160px;
}

div.container {
	--x-gap: 75px;
	--y-gap: 75px;

	position: absolute;
	width: calc(100vw - var(--x-gap) * 2);
	left: var(--x-gap);
	height: calc(100vh - var(--y-gap) * 2);
	top: var(--y-gap);

/*	border-radius: 25px;*/
	border-radius: 5px;

	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
	background: white;
}

@media (max-width: 1090px) {
  div.right { display: none; }
  div.left { width: 100%!important; }
  div.imessage { width: 100%; box-sizing: border-box; }
  span.input { width: calc(100% - 1.4rem - 3rem)!important; }
}

img.bubble-cloud {
	position: absolute;
	left: calc(50% - 250px);
	top: calc(130px);
	content: url('../assets/bubble-cloud.png');	
}

div.flex {
	width: 100%;
	height: 100%;
	display: flex;
/*	outline: 1px solid red;*/
}

div.flex > div {
	width: 50%;
/*	outline: 1px solid green;*/
}