@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@keyframes slide-up-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(-200px);
	}
}

@keyframes slide-up-in {
	0% {
		opacity: 0;
		transform: translateY(200px);
	}

	100% {
		opacity: 1;
	}
}

.upload.show {
	display: block!important;
	animation: 0.5s slide-up-in forwards;
}

.teaser.hidden .arrow {
	display: none;
}

.teaser.hidden {
	animation: 0.5s slide-up-out forwards;
}

html {
	overflow: hidden;
}

h1 {
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	font-size: 4rem;
	margin: 0;
}

p {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	margin: 0 0 0 5px;
}

.arrow:hover {
	cursor: pointer;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;

  position: absolute;
  bottom: 50px;
  align-self: center;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
/*  -webkit-transform: rotate(45deg); */
}

.down:before {
	content: 'next page';
	position: absolute;
	transform: rotate(-45deg);
	bottom: 25px;
	right: -35px;
	width: 100px;
/*	overflow: visible;*/
}

body {
	background: url('../assets/background.png');
/*	background-size: cover;*/
}

div.teaser {
	margin-top: -80px;
	color: white;
	display: flex;
	flex-direction: column;
}

div.left {
	position: relative;
}

div.right {
	display: flex;
	align-items: center;
	padding-left: 100px;

	background: url('../assets/container-background.svg');
	background-size: cover;
	margin-left: -50px;
	padding-left: 160px;
}

div.container {
	--x-gap: 75px;
	--y-gap: 75px;

	position: absolute;
	width: calc(100vw - var(--x-gap) * 2);
	left: var(--x-gap);
	height: calc(100vh - var(--y-gap) * 2);
	top: var(--y-gap);

/*	border-radius: 25px;*/
	border-radius: 5px;

	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
	background: white;
}

@media (max-width: 850px) {
  div.container {
  	background: white;
  }
}

img.bubble-cloud {
	position: absolute;
	left: calc(50% - 250px);
	top: calc(130px);
	content: url('../assets/bubble-cloud.png');	
}

div.flex {
	width: 100%;
	height: 100%;
	display: flex;
/*	outline: 1px solid red;*/
}

div.flex > div {
	width: 50%;
/*	outline: 1px solid green;*/
}